@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body{
  font-family: 'Ubuntu', sans-serif;
}
.heading_container{
  padding: 1rem 1.5rem;
  height: max-content;
  background: #3781ba;
  color: white;
}
.heading_container p{
  margin: 0.2rem auto;
  width: max-content;
}

.button_container{
  width: max-content;
  margin: 1rem auto;
}
.button_container button{
  cursor: pointer;
  margin: 1rem;
  background: black;
  border: none;
  padding: 0.5rem 1.5em;
  font-weight: 700;
  border-radius: 0.2rem;
  color: white;
  letter-spacing: 1px;
}
.button_container button:hover{
  transform: scale(1.1);
}

.result_section ul li{
  padding: 1rem;
  margin: 1rem auto;
  list-style: none;
  box-shadow: 0px 0px 3px 2px rgb(233, 233, 233);
  border-radius: 0.2rem;
  width: 70%;
  min-width: 250px;
}
.result_section .title{
  font-size: 1.2rem;
  font-weight: 700;
}
.result_section p,
.result_section .rating{
  padding: 0.2rem 0;
}
.footer{
  margin: 1.5rem auto 0 auto;
  width: 100%;
  background-color:transparent;
}
.footer p{
  text-align: center;
  color: black;
}
.footer ul{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.footer ul li{
  padding: 1.2rem 1rem;
  list-style-type: none;
 
}
.footer ul li a{
  color: black;
  text-decoration: none;
}