*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
.heading_container{
  padding: 1rem 1.5rem;
  height: max-content;
  background: #bcffb9;
}
.heading_container p{
  margin: 0.2rem auto;
  width: max-content;
}

.button_container{
  width: max-content;
  margin: 1rem auto;
}
.button_container button{
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}

ul li{
  padding: 1rem;
  margin: 1rem auto;
  list-style: none;
  box-shadow: 2px 2px 3px 2px grey;
  border-radius: 0.2rem;
  width: 70%;
  min-width: 250px;
}
.title{
  font-size: 1.2rem;
  font-weight: 700;
}